body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fff;
    color: #333;
}

/* Barra de navegación */
.navbar {
    background-color: #333;
    padding: 10px;
    text-align: center;
}

.navbar-links {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navbar-links li {
    display: inline;
    margin: 0 15px;
}

.navbar-links a {
    color: white;
    text-decoration: none;
    font-weight: 600;
    font-size: 1rem;
}

.navbar-links a:hover {
    color: #007BFF;

.curriculum-section {
    padding: 20px;
}

h1, h2 {
    text-align: center;
    margin-bottom: 10px;
}

h2 {
    font-size: 1.5rem;
    color: #444;
}

ul {
    padding-left: 20px;
    margin-bottom: 20px;
}

li {
    margin-bottom: 8px;
    font-size: 0.95rem;
}

a {
    color: #007BFF;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}